#carouselExampleInterval {
    margin-top: 50px;
    max-height: 70%;
    max-width: 70%;

    
}
.video-container video {
    padding-top: 20px;
    margin-top: 20px;
    width: 35%;
}

@media (max-width: 768px) {
    #carouselExampleInterval {
      max-height: 50%;
      max-width: 90%;
    }
  }
  
  @media (max-width: 576px) {
    #carouselExampleInterval {
      max-height: 40%;
      max-width: 90%;
    }
  }
 
  
  
  
  
  
  
  
